/**
 * Cash Sans Font Family
 * From Cash App design system
 */

@font-face {
  font-family: 'Cash Sans';
  src: url('./CashSans_WOFF2/CashSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cash Sans';
  src: url('./CashSans_WOFF2/CashSans-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cash Sans';
  src: url('./CashSans_WOFF2/CashSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cash Sans';
  src: url('./CashSans_WOFF2/CashSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cash Sans';
  src: url('./CashSans_WOFF2/CashSans-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cash Sans';
  src: url('./CashSans_WOFF2/CashSans-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cash Sans';
  src: url('./CashSans_WOFF2/CashSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cash Sans';
  src: url('./CashSans_WOFF2/CashSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
